
div{

    border: 2px solid;
    background-color: rgb(56, 222, 191);
    margin: 50px;
    padding: 50px;
    height: 50px;
    width: 50px;
}

button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    color: rgb(43, 0, 255);
    background-color: bisque;
}

p::first-letter{
    color: rgb(255, 0, 0);
}

li:first-child{
    color: rgb(255, 3, 3);
}

li:last-child{
    color: blueviolet;
}

li:nth-child(2){
    color: rgb(0, 229, 15);
}